body {
    background-color: #000814;
    overflow-x: hidden;
}

.heading {
    text-align: center;
    width: 90vw;
    margin: auto;
    background-color: #d00000;
    padding: 35px;
    color: white;
    border-radius: 25px;
}

.ordered-items {
    width: 25vw;
    background-color: white;
    margin: 25px;
    border-radius: 24px;
    background-color: #333533;
    opacity: 0.8;
}

.items-view {
    width: 70vw;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 50px;
    margin: 20px;
}

.grid-pane > div >  img {
    width: 160px;
    height: 160px;
    margin-bottom: 18px;
    border-radius: 8px;
}

.content-container {
    display: inline-flex;
}

.grid-pane > div > p {
    text-align: center;
}

.grid-pane {
    width: 160px;
    font-family: Verdana, sans-serif;
    font-weight: bolder;
    color: white;
}

img:hover {
    transition: transform 0.3s ease;
    transform: scale(1.1);
}

.ordered-items > p {
    width: 90%;
    margin-top: 25px;
    margin-left: 25px;
    color: white;
    font-size: 20px;
    font-weight: bold;
}

.ordered-items > h1 {
    text-align: center;
    color: orange;
    font-weight: bold;
    margin-top: 12px;
}

.ordereditems, .quantity, .item-decrease, .item-increase {
    display: inline;
}